.open-sans-unique {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    padding: 50px;
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-sans-logofont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-variation-settings:
    "wdth" 100;
}
.logo h2 {
    color: #6366f1;
    font-size: 34px;
    font-weight: bolder;
}

.sign-up-btn {
    background-color: #4E47FF;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.sign-up-btn:hover {
    box-shadow: 0 6px 20px rgba(99, 102, 241, 0.4);
    background:  #7c3aed;
}

/* Banner Styles */
.banner {
    min-height: 700px;
    min-width: auto;
    background-image: url('Assets/Hero-bg.png');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-content {
    max-width: 1900px;
    max-height: 237px;
    padding: 35px;
}

.banner-heading {
    font-size: 65px;
    font-weight: 700px;
    margin-bottom: 37px;
    color: #000000;
}

.cta-btn {
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16;
    font-weight: normal;
    cursor: pointer;
}

.cta-btn:hover {
    box-shadow: 0 12px 35px rgba(99, 102, 241, 0.4);
    background: #7c3aed;
}

/* Action Section */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 115px 140px;
  background-color: #ffffff;
  flex-wrap: wrap;
  gap: 40px;
}

.action-text h2 {
  font-size: 42px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 23px;
}

.action-text p {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight:normal;
  margin-bottom: 25px;
  max-width: 515px;
}

.action-image {
  text-align: right;
  
}

.action-image img {
  width: 400px;
  height: 330px;
  border-radius: 48px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.lounch-btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* Users Section */
.users-section {
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 142px;
  text-align: center;
  border-radius: 25px;
  margin: 115px 140px;
}

.users-section h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
  color: rgba(37, 36, 50, 1);
}

.stats {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.stat-item {
  min-width: 180px;
}

.stat-item h3 {
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
  font-weight: bold;
}

.stat-item p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

/* added testimonial */
.testimonials {
    margin: 30px 150px;
  text-align: center;
}

.testimonials h2 {
  font-size: 42px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.stars {
  color: rgba(255, 184, 5, 1);
  font-size: 25px;
  margin-bottom: 24px;
}

.card h3 {
  font-size: 20px;
  font-weight: 700;
}

.card p {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer strong {
  display: block;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
}

.reviewer span {
  font-size: 14px;
  color: rgba(179, 179, 179, 1);
}
